<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.dobots.imbusy" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Required to see when the user is being called -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Required to see when the user calls someone -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <!-- Required to show the status when calling -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Required to use internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the phone number text field in the login form with the user's phone numbers -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".ImBusyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".CallStateService"
            android:icon="@mipmap/ic_launcher"
            android:label="CallStateService" >
        </service>
        <service
            android:name=".BleScanService"
            android:icon="@mipmap/ic_launcher"
            android:label="BleScanService" >
        </service>
        <service
            android:name=".StatusPopupService"
            android:icon="@mipmap/ic_launcher"
            android:label="StatusPopupService" >
        </service>
        <service
            android:name=".XmppService"
            android:icon="@mipmap/ic_launcher"
            android:label="XmppService" >
        </service>

        <activity
            android:name=".DeviceSelectActivity"
            android:label="@string/title_activity_device_select"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.dobots.imbusy.MainActivity" />
        </activity>
        <activity
            android:name=".DeviceSettingsActivity"
            android:label="@string/title_activity_device_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.dobots.imbusy.MainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
    </application>

</manifest>
